@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



:root{
    --marrom: #593D2D;
    --marrom-escuro: #261911;
    --marrom-clarin: #8C7765;
    --bege: #A69E94;
    --cinza:#BFBFBD;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza-claro: #EDEDE9;
    --bege-acinzentado: #D6CCC2;
    --bege-claro: #F5EBE0;
    --areia-suave: #E3D5CA;
    --marrom-claro-rosado: #D5BDAF;
    --fonte-principal: 'Raleway', sans-serif;
     }


body, html{
    background-color: var(--bege);
    color: var(--marrom-escuro);
    margin: 0;
    padding: 0; 
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main{
    flex: 1;
}

.container{
    
    /* font-family: 'Fira Sans', sans-serif; */
    font-size: 20px;
    margin: 20px;
    /* justify-content: space-between; */
    align-items: center;
    display: flex; 
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 15%;
  
}

.container-logo{
    display: flex;
     justify-content: center;
     gap: 26px;
    align-items: center;
    padding: 5px;
}



.foto-terminal{
    display: block;
    justify-content: right;
    gap: 10px;
    align-items: left;
    margin-left: 30px;
    width: 400px;
    height: 350px;
    margin-bottom: 30px;
}

.container-texto{
    max-width: 600px;  
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: Raleway, sans-serif;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.foto-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 ;
    display: block;
}


h1{
    color:var(--marrom);
    font-size: 30px;
    text-align: center;
   
}


.menu-cabecalho{
    background-color: var(--marrom-escuro);
    padding: 8px;    
    font-family: Raleway, sans-serif;
    font-size: 3px;
    text-align: center;
}

.container a{
    text-decoration: none ;
}

.menu-cabecalho a{
    text-decoration: none;
    color: var(--bege);
    font-size: 20px;
    font-weight: bold;
}

.footer{
    background-color: #8C7765;
    padding: 5px;
    text-align: center;
}

.botoes{
    border-radius: 10px;
    background-color: var(--marrom-escuro);
    color: var(--cinza);
    padding: 20px;
    border: none;
    font-size: 20px;
    margin: 10px;
    
    
}


.container-botao{
    display: flex;     
    flex-wrap: wrap;
    /* margin-top: 50px;     */
    justify-content: center;
  
}

.botoes:hover{
   background-color: var(--marrom-clarin);
   color: var(--marrom-escuro);
}


.secao-projetos{
   text-align: center;
    padding: 40px;
   
}

.container-projetos{
    display: flex;
    flex-wrap: wrap; /* Faz quebrar para a próxima linha se necessário */
    justify-content: center; /* Centraliza os itens na linha */
    gap: 20px; /* Espaçamento entre os itens */
    margin-top: 20px;
    padding: 0 15%;
}

.container-projetos a{
    padding: 8px;
    border-radius: 10px;
    background-color: var(--bege-acinzentado);
    font-weight: bold;
}


.projeto{
    border-radius: 10px;
    background-color: var(--marrom-clarin);
    width: 300px;  /* Largura fixa para alinhar os cards */
    text-align: left;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    flex-direction: column;     /* Coloca os elementos em coluna */
    justify-content: space-between;  /* Empurra o link pro final */
  

    
}

.projeto:hover{
    transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse */
}

.projeto-link:hover{
    
    color: white
}

.projeto-titulo{
    font-size: 18px;
    margin-left: 15px;
}

.projeto-explicacao{
    font-size: 16px;
    color: var(--marrom-escuro);
    margin-top: 10px;
}

.projeto-tecnologia{
    font-size: 14px;
    color: var(--marrom-escuro);
}
.projeto-link{
    text-decoration: none;
    color: var(--marrom-escuro);
    font-size: 14px;
    margin-top: auto; /* Empurra esse link para o final do container */
}

.botao-curriculo{
    background-color: var(--marrom-escuro);
    color: var(--cinza);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}


.container-conhecimentos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas por padrão */
  gap: 20px;
  justify-items: center;
  padding: 40px 20px;
}

@media (max-width: 900px) {
  .container-conhecimentos {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas quando for menor que 900px */
  }
}

@media (max-width: 600px) {
  .container-conhecimentos {
    grid-template-columns: 1fr; /* 1 coluna em celulares */
  }
}

.caixinha-conhecimento {
    background-color: var(--bege-acinzentado);
    border-radius: 10px;
    padding: 20px;
    width: 300px; /* Largura fixa para alinhar os cards */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    justify-content: space-between; 
}

.caixinha-conhecimento h2,
.caixinha-conhecimento p {
  margin: 0;
  padding: 0;
}

.caixinha-conhecimento h2 {
  text-align: center;
}

.container-certificados h2{
    font-size: 15px;
    text-align: center;
}


.certificados{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    background-color: var(--marrom-clarin);
    padding: 20px;
    text-decoration: none;
    color: var(--marrom-escuro);
}

.certificados:hover{
    color: var(--cinza);
    text-decoration: underline;
}
   
.formulario-contato{
  display: flex;
  flex-direction: column;
   border: 3px solid #3e2c20;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 30px;
  max-width: 600px;
  margin: auto;
    
}


.formulario-contato input,
.formulario-contato textarea {
  padding: 12px;
  border: 1px solid var(--marrom-escuro);
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  background-color: #fff;
  color: var(--marrom-escuro);
  resize: none;
}

.formulario-contato button {
  padding: 12px;
  background-color: var(--marrom-escuro);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 15px;
}


.formulario-contato button:hover {
  background-color: var(--marrom-clarin);
}


.caixinha-respostas{
    background-color: var(--bege-claro);
    padding: 8px;
    
    border-radius: 2px;
     font-size: 15px;

}

.caixinha-perguntas {    
    border-radius: 2px;
     font-size: 17px;
}


  .faq h3{
    color: var(--preto);    
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
} 

.tam-h2{
    font-size: 15px;
    color: var(--marrom-escuro);
    text-align: center;
    margin-top: 20px;
}

.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--bege-acinzentado);
    border-radius: 2px;
    margin: 20px auto;
    
}